{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Default title{% endblock title %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar bg-body-tertiary" style="background-color: lightslategray;">
        <div class="container-sm-fluid container-lg">
            <a class="navbar-brand">AskPupkin</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Ask!</button>
            </form>
            <div class="d-flex justify content-between gap-5">
                <div class="d-flex flex-column justify-content-between">
                    <div>
                        <a href={% url 'login' %}>log in</a>
                        <a href={% url 'signup' %}>register</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    <main class="container-sm-fluid container-lg ms-5 mb-5 p-3">
      <div class="d-flex gap-3 align-items-center ml-3">
        <h1>{% block header %}{% endblock %}</h1>
      </div>
      <div class="row">

          {% block content %}
          {% endblock content %}

          <div class="col-4">
            <h3>Popular Tags</h3>
            <div class="row-2">
              <div class="col-4">
                {% for tag, style in popular_tags %}
                  <div class="row justify-content-center">
                    <a href="{% url 'tag' tag %}" class="badge {{ style }} m-1">{{ tag.title }}</a>
                  </div>
                {% endfor %}
              </div>
            </div>
            <h3 class="mt-5">Best Members</h3>
            <div>
              {% for profile in best_profiles %}
                <div class="row justify-content-center">
                  <li class="list-group-item"><a href="#">{{ profile.user.username }}</a></li>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>        </div>
    </main>
          <footer class="fixed-bottom p-3 mt-3 bg-light">
            <div class="container">
              <span class="text-muted">Place sticky footer content here.</span>
            </div>
          </footer>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
</body>
        
</html>