{% extends "layouts/base-1.html" %}

{% block title %}Signup{% endblock title %}

{% block content %}

<div class="d-flex gap-3 align-items-center ml-3">
    <h1>Register</h1>
</div>
<div class="d-flex ml-3 mb-3">
    <span class="text-danger">Sorry, this email address allready registered!</span>
</div>
<div class="row">
<div class="col-8">
    <div class="mb-3 row">
        <label for="inputLogin" class="col-sm-3 col-form-label">Login</label>
        <div class="col-xl-9">
            <input type="login" class="form-control" id="inputLogin">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
        <div class="col-xl-9">
            <input type="email" class="form-control" id="inputEmail">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputNickname" class="col-sm-3 col-form-label">NickName</label>
        <div class="col-xl-9">
            <input type="NickName" class="form-control" id="inputNickname">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
        <div class="col-xl-9">
            <input type="password" class="form-control" id="inputPassword">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="repeatPassword" class="col-sm-3 col-form-label">Repeat password</label>
        <div class="col-lg-9">
            <input type="password" class="form-control" id="repeatPassword">
        </div>
    </div>
    <div class="form-group row mb-3">
        <label class="col-sm-2 col-form-label" for="input-file">Upload avatar</label>
        <div class="col-lg-9">
            <div class="d-flex ms-5 ps-3">
                <input type="file" id="input-file">
            </div>
        </div>
    </div>
        
    <div class="mb-3 row">
        <div class="col-sm-3"></div>
        <div class="col-lg-9">
            <div class="d-flex">
            <br>
            <button class="btn btn-primary">Register</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}
